.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin-left: 38%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.progress-text {
 margin: 10px;
 color: black
}

.warn {
    background-color: rgba(241, 169, 160, 1)
}
.loading {
    background-color: rgba(137, 196, 244, 1)
}
.primary {
    background-color:	rgb(144,238,144)
}